In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in d:\anaconda\lib\site-packages (2.2.9)

In [2]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in d:\anaconda\lib\site-packages (2.0.2)

In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\anaconda\lib\site-packages (8.0.22)
Requirement already satisfied: protobuf>=3.0.0 in d:\anaconda\lib\site-packages (from mysql-connector-python) (3.13.0)
Requirement already satisfied: six>=1.9 in d:\anaconda\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Requirement already satisfied: setuptools in d:\anaconda\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (49.2.0.post20200714)

In [4]:
!pip install pymysql

Requirement already satisfied: pymysql in d:\anaconda\lib\site-packages (0.10.1)

In [5]:
import pymysql

In [6]:
# open XAMPP/WAMP
# start Apache and Mysql
# browse http://localhost/phpmyadmin
# create database for sql command 'CREATE DATABASE python_mysql_db';

In [7]:
# database connection
mydb = pymysql.connect(host="localhost", user="root", password="", db="python_mysql_db")
if mydb:
    print("Connected")
else:
    print("Not connected!")
    
cursor = mydb.cursor()

Connected

In [8]:
# crate table
sql = """
    CREATE TABLE cricketer_information (
        palyer_id INT NOT NULL AUTO_INCREMENT,
        name VARCHAR(100) NOT NULL,
        email VARCHAR(55) NULL,
        phone_number VARCHAR(20) NOT NULL,
        address TEXT NULL,
        PRIMARY KEY (palyer_id)
    );
"""
cursor.execute(sql)
mydb.commit()
print("Table created successfully")

Table created successfully

In [9]:
# insert data
sql = "INSERT INTO cricketer_information(name, email, phone_number, address) VALUES(%s, %s, %s, %s)"
palyers_data = [
    ("Sabbir Rahman", 'sabbirrahman@gmail.com', '01775326440', 'Godagari, Rajshahi'),
    ("Mahmudul Hasan Joy", 'mahmudulhasanjoy@gmail.com', '01775329912', 'Motlob, Chadpur'),
    ("Shakib al Hasan", 'sabbirrahman@gmail.com', '01798326440', 'Magura, Khulna'),
    ("Taskin Ahmed", 'sabbirrahman@gmail.com', '01775386440', 'Hali Shohor, Chittagong'),
    ("Mustafizur Rahman", 'mustafizurrahman@gmail.com', '01775326487', 'Satkhira, Khulna'),
    ("Mushfiqur Rahim", 'sabbirrahman@gmail.com', '01895326440', 'Kahalu, Bogra')
]

cursor.executemany(sql, palyers_data)
mydb.commit()
print("Data inserted successfully")

Data inserted successfully

In [10]:
# read data all
cursor.execute("SELECT * FROM cricketer_information")
myresult = cursor.fetchall() # fetchone(), fetchmany(argument)

for row in myresult:
    print(row)

(1, 'Sabbir Rahman', 'sabbirrahman@gmail.com', '01775326440', 'Godagari, Rajshahi')
(2, 'Mahmudul Hasan Joy', 'mahmudulhasanjoy@gmail.com', '01775329912', 'Motlob, Chadpur')
(3, 'Shakib al Hasan', 'sabbirrahman@gmail.com', '01798326440', 'Magura, Khulna')
(4, 'Taskin Ahmed', 'sabbirrahman@gmail.com', '01775386440', 'Hali Shohor, Chittagong')
(5, 'Mustafizur Rahman', 'mustafizurrahman@gmail.com', '01775326487', 'Satkhira, Khulna')
(6, 'Mushfiqur Rahim', 'sabbirrahman@gmail.com', '01895326440', 'Kahalu, Bogra')

In [11]:
# update data
sql = "UPDATE cricketer_information SET address = 'Chandpur, Chittagong' WHERE palyer_id=2"
cursor.execute(sql)
mydb.commit()

# read this palyer information
cursor.execute("SELECT * FROM cricketer_information WHERE palyer_id=2")
myresult = cursor.fetchone()
for row in myresult:
    print(row)

2
Mahmudul Hasan Joy
mahmudulhasanjoy@gmail.com
01775329912
Chandpur, Chittagong

In [12]:
# delete data
sql = "DELETE FROM cricketer_information WHERE palyer_id=2"
cursor.execute(sql)
mydb.commit()

# read all data
cursor.execute("SELECT * FROM cricketer_information")
myresult = cursor.fetchall()
for row in myresult:
    print(row)

(1, 'Sabbir Rahman', 'sabbirrahman@gmail.com', '01775326440', 'Godagari, Rajshahi')
(3, 'Shakib al Hasan', 'sabbirrahman@gmail.com', '01798326440', 'Magura, Khulna')
(4, 'Taskin Ahmed', 'sabbirrahman@gmail.com', '01775386440', 'Hali Shohor, Chittagong')
(5, 'Mustafizur Rahman', 'mustafizurrahman@gmail.com', '01775326487', 'Satkhira, Khulna')
(6, 'Mushfiqur Rahim', 'sabbirrahman@gmail.com', '01895326440', 'Kahalu, Bogra')